element.style {
    margin-top: 24px;
    margin-bottom: 24px;
}

._1biqilc {
    color: inherit !important;
    display: inline-block !important;
}

._4efw5a {
    text-transform: uppercase !important;
}
._1hh2h7tb {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: normal !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-transform: undefined !important;
    color: #484848 !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
    font-weight: 800 !important;
    display: inline !important;
}

element.style {
    color: #4e4126;
}

